/* Add your styles here */
#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(..\img\logo.jpg);
  
  }
  body {
      /*background: gray;*/
      background: #c8e8e9;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    
    ul {
      margin: 0;
      padding: 0;
    }
    
    li {
      margin-right: 20px;
    }